*{
    margin: 0;
    padding: 0;
}
.borderRadius{
    border-radius:10px;
    background-color: white;
    width:400px
}
.details, h4{
    color: #1d065cef;
    font-weight: 600;
}
.details h4, p{
    margin: 0 0 0 20px;
}
.details p{
    color: gray;
}